.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__title {
  margin: 0;
  max-width: 350px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #212121;
}
.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__like-button {
  margin: 0;
  background-image: url(../images/like-icon-dark.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}
.card__like-button:hover {
  opacity: 1;
}
@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
