.footer {
  display: flex;
  justify-content: center;
}
.footer__year {
  margin: 60px 0 108px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  opacity: 0.7;
  color: #212121;
  text-wrap: none;
}
