.modal {
  padding: 0 10px;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  opacity: 40%;
  background: none;
  font-size: 20px;
  margin-top: -2px;
  cursor: pointer;
}
.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  padding: 0;
  margin: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  color: #212121;
}

.modal__form {
  margin: 32px;
  display: flex;
  flex-direction: column;
}

.modal__label {
  padding: 0;
  margin: 0 0 32px;
  border-radius: 8px;
  max-width: 630px;
  font-weight: 500;
  font-size: 16px;
  color: #212121b3;
  letter-spacing: 0;
}
.modal__input {
  border: 1px solid #21212166;
  display: block;
  margin: 8px 0 0;
  height: 54px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 12px 16px;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  color: #212121;
}
.modal__input:hover {
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  padding: 18px 32px;
  max-width: 156px;
  max-height: 52px;
  border-radius: 8px;
  border: none;
  background-color: #212121;
  color: #fff;
  transition: 0.3s;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    margin: 0;
    font-size: 20px;
  }
  .modal__submit-btn {
    max-width: none;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin: 0 0 24px;
  }
  .modal__input {
    font-size: 16px;
    height: 48px;
  }
}
