.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
}
.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__edit-btn {
  margin-top: auto;
  font-weight: 500;
  font-size: 16px;
  border: none;
  background: none;
}
.profile__add-btn {
  padding: 18px 32px;
  margin-left: auto;
  margin-top: 138px;
  width: 149px;
  height: 52px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: #212121;
  color: #fcf5e5;
}
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }
  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }
  .profile__column {
    margin: 0 0 20px;
  }
  .profile__add-btn {
    margin: 0;
  }
}
